div#params_plugin433
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_plugin433_pin') Pin
		div(class='col-lg-10')
			input(type='text' id='setting_plugin433_pin' value='' class='form-control')
